*{

margin:0;   
left:0;        
font-family:"Lato",sans-serif;             

}      

body{

background:#696969;      

}

.sidebar{

width:250px;      
height:100%;     
position:fixed;        
background:black;       
color:white;       

}          

.sidebar .topo{

width:250px;    
height:100px;    
background:#2E8B57;     
display:flex;      
align-items:center;      
justify-content:center;           
flex-direction:row;            

}        

ul{

position:absolute;      
width:100%;   
left:-40px;             

}

ul li{

list-style:none; 
position:relative;                         
padding-left:20px;        
padding-top:30px;   
padding-bottom:30px;     
transition:0.5s;   

}         

ul li:hover{

background:blue;

}

ul li a{

text-decoration:none;     
color:white;           
font-size:20px;            

}       

.title{

font-weight:bold;   

}     

.icon{

margin-right:10px;

}     

.main{

position:absolute;      
width:calc(100% - 250px);             
left:250px;           
height:100vh;                     

}

.main .topbar{

    width:100%;     
    background:	#1C1C1C;      
    display:flex;        
    justify-content:space-between;
    align-items:center;   
    height:100px;       
    color:white;         
    
}           

#icone{

margin-left:30px;    
margin-right:30px;  
font-size:30px;
cursor:pointer;     

}
       
input{

padding:5px;    
font-size:18px;       
border-top-left-radius:5px;    
border-bottom-left-radius:5px;      
outline:none;       
border:none;   

}      

button{

    padding-top:5px;     
    padding-bottom:5px;    
    padding-left:10px;    
    padding-right:10px;    
    font-size:18px;       
    border-top-right-radius:5px;    
    border-bottom-right-radius:5px; 
    color:white;    
    background:	#1E90FF;    
    border:none;         

}     

.main .content{

width:80%;     
height:480px;             
margin-left:10%;      
margin-top:15px;  


}      

.main .title2{

text-align:center;            
color:white;        
font-size:30px;        
font-weight:bold;         
padding-top:30px;
margin-bottom:30px;

}      

table{

width:100%;    
margin-left:0;    

}

table, tr, td{

border:solid 1px;       
border-collapse:collapse;                   

}           



tbody{

background:	#A9A9A9;
text-align:center;         
font-weight:bold;           
font-size:18px;    
padding:20px;

}      

tbody tr td{

padding:10px;

}

.header{

background:black;   
padding:10px;    
text-align:center;

}      

.atributo{

color:white;      
font-size:18px;    
font-weight:bold;       

}       

.table{

height:auto;        
max-height:300px;    
overflow-y:auto;     

}        

.dinheiro{

font-weight:bold;    
color:black;          
font-size:25px;     
margin-top:20px;    

}

